.chatPaneContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chatTopBar {
  display: flex;
  justify-content: space-between;
}

.chatTopLeftContainer {
  display: flex;
}
.userAndEmailContainer {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.username_chat {
  color: white;
}

.email_chat {
  color: grey;
  font-size: 0.9rem;
}

.chatUserImgContainer {
  position: relative;
}

.chatUserImg {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  object-fit: cover;
}

.interactIcons_chatTop {
  width: 2.8em;
  height: 2.8em;
  /* margin-right: 1em; */
  padding: 0.5em;
}

/* chat middle pane */
.chatMiddleBar {
  flex: 1;
  overflow: auto;
  overflow-y: scroll;
}

.chatMiddleBar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px transparent;
  border-radius: 10px;
  background-color: transparent;
}

.chatMiddleBar::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.chatMiddleBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px transparent;
  background-color: rgb(82, 82, 82);
}

.chatContentItem {
  display: flex;
  margin-bottom: 1.5em;
  position: relative;
}

.chatRight {
  /* justify-content: flex-end; */
  flex-direction: row-reverse;
}

.chatItemLogo {
  width: 2em;
  height: 2em;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.5em;
}

.chatTime {
  font-size: 0.7rem;
  color: rgb(121, 121, 121);
  position: absolute;
  right: 1em;
  margin-top: 0.5em;
  /* font-style: italic; */
  font-weight: 300;
}

.chatItemTextContainer {
  /* width: min(60%, auto); */
  max-width: 60%;

  padding: 1em 2em 2em 1em;
  font-size: 0.9em;
  margin-right: 0.5em;
  position: relative;
}

.chatItemImgContainer {
  max-width: 40%;
  padding: 1em 1em 2em 1em;
  font-size: 0.9em;
  margin-right: 0.5em;
  position: relative;
}

.chatItemImg {
  width: 100%;
}

.chatLeft .chatItemTextContainer,
.chatLeft .chatItemImgContainer {
  border-radius: 0em 1em 1em 1em;
  background-color: rgb(48, 48, 48);
  color: rgb(172, 172, 172);
}

.chatRight .chatItemTextContainer,
.chatRight .chatItemImgContainer {
  border-radius: 1em 0em 1em 1em;
  background-color: rgb(48, 48, 48);
  color: rgb(172, 172, 172);
}

/* Chat bottom bar */
.chatBottomBar {
  color: white;
}

.chatBottomBar {
  display: flex;
  align-items: center;
}

.emojiContainer {
  position: relative;
}

.chatInput {
  flex: 1;
  background: transparent;
  border: none;
  font-size: 1rem;
  color: rgb(172, 172, 172);
}

.chatInput:focus {
  outline: none;
}

.emojiInput,
.fileInput {
  width: 3.5em;
  height: 2.5em;
  padding: 0.5em 1em;
}

.fileInput {
  transform: rotate(-30deg);
}

.sendButton {
  padding: 0.5em 2em;
  border-radius: 0.5em;
  border: none;
  background-color: rgb(87, 87, 87);
  color: rgb(172, 172, 172);
  margin-left: 1em;
}
